{% extends "base.html" %}
{% block content %}
<section class="hero is-light is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <div class="container has-text-centered">
            <h1 class="title">Feature Request Tool</h1>
        </div>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container">

            <div class="columns">

                <!-- Begin left section that holds the feature request cards -->
                <div class="column">

                    <!-- Begin nested columns for responsive layout -->
                    <div class="columns is-multiline" data-bind="foreach: get_all_feature_requests, afterRender: refresh">

                        <div class="column is-half">
                            <div class="card is-narrow">

                                <div class="card-content badge is-badge-large" data-bind="attr: {'data-badge' : priority}">
                                    <p class="title" data-bind="text: title"></p>
                                    <p class="subtitle" data-bind="text: description"></p>
                                </div>
                                <footer class="card-footer">
                                    <p class="card-footer-item">
                                        <span data-bind="text: client"></span>
                                    </p>
                                    <p class="card-footer-item">
                                        <span data-bind="text: product_area"></span>
                                    </p>
                                    <p class="card-footer-item">
                                        <span data-bind="text: deadline"></span>
                                    </p>
                                </footer>
                            </div>
                        </div>

                    </div>
                    <!-- End of nested columns -->

                </div>
                <!-- End of left section -->

                <!-- Begin form section for feature requests -->
                <div class="column">

                    <form action="POST" data-bind="submit: save_form_input">

                        <!-- Title field -->
                        <div class="field">
                            <label class="label">Title</label>
                            <div class="control">
                                <input data-bind="value: title" class="input" type="text" placeholder="e.g Add a notch"
                                    id="title">
                            </div>
                        </div>

                        <!-- Description field -->
                        <div class="field">
                            <label class="label">Description</label>
                            <div class="control">
                                <textarea data-bind="value: description" class="textarea" placeholder="e.g. Because everyone's doing it"
                                    id="description"></textarea>
                            </div>
                        </div>

                        <div class="columns">

                            <!-- Client name selector -->
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Client</label>
                                    <div class="control is-expanded">
                                        <div class="select is-fullwidth">
                                            <select data-bind="options: clients, value: selected_client, optionsCaption: 'Select Client'"
                                                id="client">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Feature request priority selector -->
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Priority</label>
                                    <div class="control is-expanded">
                                        <div class="select is-fullwidth">
                                            <select data-bind="options: priorities, value: selected_priority, optionsCaption: 'Select Priority'"
                                                id="priority">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Product area selector -->
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Product Area</label>
                                    <div class="control is-expanded">
                                        <div class="select is-fullwidth">
                                            <select data-bind="options: areas, value: selected_area, optionsCaption: 'Select Product Area'"
                                                id="product_area">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Deadline selector -->
                            <div class="column">
                                <div class="field">
                                    <label class="label">Deadline</label>
                                    <div class="control">
                                        <input data-bind="value: deadline" class="input flatpickr" type="date" id="deadline">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Submit and reset buttons -->
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <button class="button is-primary" type="submit">Submit</button>
                            </div>
                            <div class="control">
                                <button class="button is-danger" type="reset">Cancel</button>
                            </div>
                            <div class="control">
                                <button class="button" data-bind="click: refresh">Refresh</button>
                            </div>
                        </div>

                    </form>
                </div>
                <!-- End right section for request form -->

            </div>
        </div>
    </div>

</section>
{% endblock %}
{% block scripts %}
<script>
    let formModel = function () {
        let self = this;

        // Set dropdown options
        self.clients = ko.observableArray([
            'Client A',
            'Client B',
            'Client C'
        ]);
        self.priorities = ko.observableArray([
            1, 2, 3, 4, 5, 6, 7, 8, 9, 10
        ]);
        self.areas = ko.observableArray([
            'Billing', 'Claims', 'Policies', 'Reports'
        ]);

        // Get form imput data
        self.title = ko.observable('');
        self.description = ko.observable('');
        self.selected_client = ko.observable('');
        self.selected_priority = ko.observable('');
        self.selected_area = ko.observable('');
        self.deadline = ko.observable('');

        // DEV
        self.title = ko.observable('a');
        self.description = ko.observable('a');
        self.selected_client = ko.observable('Client A');
        self.selected_priority = ko.observable(1);
        self.selected_area = ko.observable('Billing');
        self.deadline = ko.observable('2018-12-1');

        // amalgamate form inputs for POST body
        self.post_payload = ko.pureComputed(() => {
            return {
                title: self.title(),
                description: self.description(),
                client: self.selected_client(),
                priority: self.selected_priority(),
                product_area: self.selected_area(),
                deadline: self.deadline()
            }
        }, self);

        // make feature request
        self.save_form_input = () => {
            $.ajax('/api/v1/feature', {
                method: 'POST',
                contentType: 'application/json',
                data: ko.toJSON(self.post_payload()),

                success: (data, status) => {
                    self.refresh();
                }
            })
        }

        self.get_all_feature_requests = ko.observableArray([]);

        self.refresh = () => {
            $.ajax('/api/v1/feature', {
                method: 'GET',
                dataType: 'JSON',
                success: self.get_all_feature_requests
            });
        }

    }

    let fm = new formModel();
    ko.applyBindings(fm);
    fm.refresh();

</script>
{% endblock %}